 body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1rem;
  font-size: 200%;
 }
 
 



 
 
 header {
  padding: 20px;
  text-align: center;
  
 }

 header h1 {
  font-size: 200%;
  background-color: red;
 }

 nav {
  text-transform: uppercase;

 }

 nav ul {
  background-color: red;
 }


 img {
  max-width: 20%;
  height: auto;
 }


 main {
  display: grid;
 }


 
 






